@font-face { font-family:Gothic;src:url("gothic.woff"); }

body {
	background-repeat: repeat-x;
	background-color: #010101;
	font-family: Gothic, sans-serif;
	color: #f4f4f4;
	font-size: 16px;
}

a { color: #d4d4d4; text-decoration: none; transition: color .4s ease-in; }
a:hover { color: #777777; text-decoration: none; }

.title {
	text-align: center;
	font-size: 46px;
	padding: 10px;
	color: #6A0888;
}

.menu {
	color: #d4d4d4;
	text-align: center;
	font-size: 20px;
	padding: 4px;
	background-image: linear-gradient(to bottom, #434343, #212121);
	/* border: solid 1px #666666; */
}

.menu a {
	padding: 6px;
}

.text {
	padding: 10px;
	background: #222222;
	border: solid 1px #555555;
}

.text_small { font-size: 12px; }

.footer {
	color: #ffffff;
	font-size: 10px;
	text-align: center;
}

.userinfo {
	width: 150px;
	vertical-align: top;
	text-align: center;
}

.userpost {
	width: 700px;
	vertical-align: top;
}

table {
	border: solid 2px #333333;

}

/* Timestamp, and date float */

.date_float {
	float: right;
}

.board {
	max-width: 850px;
	margin: auto;
}
