/*
	Lust themes for CTMB 3.0+
	(C) Chris Dorman, 2014 CC-BY-SA 3.0
*/

body {
	font-family: Arial, sans-serif;
	color: #010101;
	background-color: #eeeeee;
	font-size: 12px;
}

.title {
	text-align: left; font-size: 32px;
	padding: 16px; 
}

#finfo_t { width: 200px; border: solid 1px #989898; }
#finfo_t tr { padding: 2px; }
#finfo_t td { border: solid 1px #dedede; font-size: 12px; }
#finfo_h { text-align: center; padding: 4px; background-color: #d3d3d3; }
#finfo_b { text-align: center; padding: 4px; }

.menu {
	font-size: 16px; background-color: #d3d3d3;
	border: solid 1px #989898;
	font-family: Arial, sans-serif;
}

.text {
	padding: 12px; background-color: #d3d3d3;
	border: solid 1px #989898;
}

a { 
	color: #323232; padding: 3px; 
	text-decoration: underline;
} 
a:hover { color: #0d0d0d; }

.text_small { font-size: 11px; }

.footer {
	font-size: 10px;
	text-align: center;
}

/* Timestamp, and date float */

.date_float {
	float: right;
}

/* board div (For width and margin) */

.board {
	max-width: 950px;
	margin: auto;
}

/* Table classes */

#ptitle { width: 54%; vertical-align: top; border: solid 1px #333333; font-size: 13px; }
#pdate { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 13px; }
#powner { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 13px; }
#preplies { width: 8%; vertical-align: top; border: solid 1px #333333; font-size: 13px; }
#pviews { width: 8%; vertical-align: top; border: solid 1px #333333; font-size: 13px; }

#ptitle_t { width: 54%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#pdate_t { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#powner_t { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#preplies_t { width: 8%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#pviews_t { width: 8%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }

#ctitle_t { width: 70%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#cdate_t { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }
#cpost_t { width: 15%; vertical-align: top; border: solid 1px #333333; font-size: 12px; text-align: center; background-image: url('images/header.png'); }

#ctitle { width: 70%; border: solid 1px #333333; font-size: 13px; }
#title_text { font-weight: bold; }
#cdate { width: 15%; border: solid 1px #333333; font-size: 13px; }
#cpost { width: 15%; border: solid 1px #333333; font-size: 13px; }

#tblarge { width: 100%; vertical-align: top; }

/* Post settings */

.userinfo {
	font-size: 12px;
	width: 150px;
	vertical-align: top;
	border: solid 1px #333333;
	text-align: center;
}

.userpost {
	width: 90%;
	vertical-align: top;
	border: solid 1px #333333;
}

/* User signatures */

.sig {
	border-top: solid 1px #333333;
	padding: 6px;
}

/* Attachments */

.attachment {
	padding: 4px;
	border: solid 1px #333333;
}

.attachment img { 
	display: block;
	max-width: 300px;
}
